body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/* Headings

--------------------------------------------- */

h1 {
	font-size: 4rem;
	letter-spacing: 1px;
	margin: unset !important;
}

h2, h3, h4, h6 {
	font-family: 'Roboto', sans-serif;
	margin: 0 0 10px;
}

.comment-respond h3, .entry-comments h3 {
	margin-bottom: 3.750rem;
	margin-top: 6.25rem;
}
p, pre, table, form {
	margin: 0 0 1.75rem;
	color: #797979;
}

p, p.overview {
	font-size: 1.333rem;
}

p.overview {
	margin-bottom: 1rem;
	line-height: 2;
	color: var(--creamwhite);
}

p.landingpage {
text-align: center;
margin: 2rem auto 9rem auto;
color: #fff;
font-weight: 400;
font-size: 1.5rem;
}
  
.my-landingpage {
	margin: 6rem auto 5rem auto;
	font-weight: 600;
}

h2.recipes-month-name {
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
	margin-bottom: 1px;
	position: relative;
	z-index: 9;
}
p.recipes {
	font-size: 1.149rem;
	margin: 1rem auto 2rem;
	line-height: 1.5;
	color: var(--creamwhite);
}
.recipes-text {
	z-index: 1;
}

footer.recipes-text {
	padding: 1.5rem;
	position: relative;
    top: 50%;
}

p.recipe-app-info {
	color: var(--primary) !important;
	text-align: left;
	display: inline-flex;
}
p.recipe-app-info::before {
	content: "";
	display: inline-flex;
	position: relative;
	background: url(../../../img/icon-cuciniale-avaiable-for-app.png) no-repeat center center;
	background-size: contain;
	margin-right: 1.3rem;
	width: 38px;
}
p.recipes-author {
	color: #797979;
}

h3.recipes-step {
	font-size: 1.5rem;
	letter-spacing: unset;
	position: relative;
    left: -8px;
}

h3.recipes-step:before {
	content: '';
    position: relative;
    z-index: 999;
    width: 7px;
    height: 7px;
    background-color: var(--secondary);
    border-radius: 3.5px;
    right: .5rem;
    bottom: .4rem;
    display: inline-flex;
}

h2.overview {
	font-size: 3.749rem;
}
.navbar-brand {
	padding-bottom: 1rem;
}
.navbar-brand>a {
	font-family: "Roboto", sans-serif;
}
#masthead .navbar-nav>li a {
	border-bottom-width: 0;
	display: block;
	font-family: "Roboto", sans-serif;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 12px;
	padding-right: 12px;
}

div#page-sub-header h1 {
	font-family: "Roboto", sans-serif;
	margin-bottom: 0;
	padding-top: 0;
}
div#page-sub-header p {
	max-width: 100%;
}
.page .entry-title, .single .entry-title, .blog .entry-title {
	padding: 0;
}
#secondary .widget-title {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
}
.entry-meta {
	font-family: 'Roboto', sans-serif;
}